.fav-empty {
  display: block;
  text-align: center;
  margin-top: 164px;
  font-size: 14px;
}

.hat {
  width: 68px;
  height: 58px;
  margin-bottom: 24px;
}

.fav-categories {
  margin-top: 64px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.fav-button {
  max-width: 100%;
  height: 46px;
  border-radius: 15;
  font-size: 14px;
  color: rgba(5, 5, 5, 0.7);
  padding: 14px 18px 14px 18px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(5, 5, 5, 0.2);
  outline: none;
  cursor: pointer;
}

.fav-button {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.fav-button:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: var(--accent-color);
}

/* Rec card */

#fav-container .rec-item {
  margin-bottom: 24px;
  width: 335px;
  height: 335px;
  margin-left: auto;
  margin-right: auto;
}

.rec-item {
  position: relative;
  display: flex;
  color: var(--text-white-color);
  font-size: 12px;
  border-radius: 14px;
}

.upper-part {
  margin-top: auto;
  padding: 0 16px 16px 16px;
  width: inherit;
}

.fav-list {
  display: block;
  margin-top: 24px;
}

.fav-list .upper-part {
  width: inherit;
}

.fav-list .rec-item {
  width: 258px;
  margin: 0;
}

/* heard button */

.heart-btn {
  position: absolute;
  top: 18px;
  right: 17px;
  background: transparent;
  border: none;
}

.icon-heart {
  fill: none;
  transition: transform 250ms linear;
}

.heart-btn:hover .icon-heart {
  transform: scale(1.5);
}

.heart-btn.active .icon-heart {
  fill: var(--text-white-color);
}

/* Card title */

.rec-card-title {
  width: 210px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 12px;
}

/* description ... !!! */
.desc-cut {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.rec-card-desc {
  height: 30px;
  margin-bottom: 16px;
}

.desc-cut {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Lower part of card*/

.rec-rate {
  display: flex;
  align-items: center;
}

.rate {
  font-size: 14px;
  font-weight: 500;
  margin-right: 4px;
}

/* Rate List */

.stars-list {
  display: flex;
  margin-right: auto;
}

.star-rated-item {
  color: var(--rating-stars);
}

.star-item {
  color: rgba(248, 248, 248, 0.1);
}

/* see recipe button */

.rec-btn-open.rec-btn {
  padding: 8px 14px;
  background-color: var(--accent-color);
  color: var(--text-white-color);
  border: none;
  border-radius: 8px;
}

@media screen and (max-width: 1279px) {
  .rec-item:nth-child(2n),
  .rec-item:last-child {
    margin-right: 0;
  }

  .rec-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .rec-item {
    width: 335px;
    height: 335px;
  }

  .rec-item:not(:last-child) {
    margin-bottom: 24px;
  }

  /* Card lower Part */

  .rec-card-title {
    width: 300px;
  }

  .rec-card-desc {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  #fav-container .rec-item {
    margin-left: 0;
    margin-right: 0;
    width: 224px;
    height: 244px;
  }

  .fav-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 64px;
  }

  .fav-empty {
    margin-top: 0px;
    width: 481px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.5;
  }

  .hat {
    width: 97px;
    height: 83px;
    margin-bottom: 32px;
  }

  .recipe-item {
    width: 240px;
    height: 264px;
    display: inline-flex;
    margin: 0 16px 16px 0;
  }

  .fav-button {
    font-size: 16px;
  }

  .rec-item {
    width: 240px;
    height: 264px;
    display: inline-flex;
    margin: 0 16px 16px 0;
  }

  .heart-btn {
    top: 19px;
    right: 18px;
  }

  /* Card lower Part */

  .title-cut {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .rec-card-desc {
    width: 205px;
  }
}

@media screen and (min-width: 1280px) {
  #fav-container .rec-item {
    width: 258px;
    height: 287px;
  }

  .fav-list {
    margin-top: 32px;
  }
  .rec-item {
    width: 250px;
    height: 287px;
    margin: 0 16px 32px 0;
  }

  .rec-item:nth-child(3n),
  .rec-item:last-child {
    margin-right: 0;
  }

  .recipe-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  /* Card lower Part */

  .rec-card-title {
    width: 218px;
  }

  .rec-card-desc {
    width: 215px;
  }

  .rec-btn-open.rec-btn {
    padding: 8px 16px;
  }
}
