@media screen and (max-width: 767px) {
  .fav-wrapper {
    padding-top: 45px;
  }

  .fav-hero {
    width: 335px;
    height: 516px;

    margin: 0 auto;
    background-size: cover;
    /* Chrome & Safari */
    background-image: -webkit-image-set(
      url('../../images/favorites/jpg/card-mob@3x.avif') 3x,
      url('../../images/favorites/jpg/card-mob@2x.avif') 2x,
      url('../../images/favorites/jpg/card-mob@1x.avif') 1x,
      url('../../images/favorites/webp/card-mob@3x.webp') 3x,
      url('../../images/favorites/webp/card-mob@2x.webp') 2x,
      url('../../images/favorites/webp/card-mob@1x.webp') 1x,
      url('../../images/favorites/jpg/card-mob@3x.jpg') 3x,
      url('../../images/favorites/jpg/card-mob@2x.jpg') 2x,
      url('../../images/favorites/jpg/card-mob@1x.jpg') 1x
    );

    /* For Firefox */
    background-image: -webkit-image-set(
      url('../../images/favorites/jpg/card-mob@3x.avif') type('image/avif') 3x,
      url('../../images/favorites/jpg/card-mob@2x.avif') type('image/avif') 2x,
      url('../../images/favorites/jpg/card-mob@1x.avif') type('image/avif') 1x,
      url('../../images/favorites/webp/card-mob@3x.webp') type('image/webp') 3x,
      url('../../images/favorites/webp/card-mob@2x.webp') type('image/webp') 2x,
      url('../../images/favorites/webp/card-mob@1x.webp') type('image/webp') 1x,
      url('../../images/favorites/jpg/card-mob@3x.jpg') 3x,
      url('../../images/favorites/jpg/card-mob@2x.jpg') 2x,
      url('../../images/favorites/jpg/card-mob@1x.jpg') 1x
    );
  }
}

@media screen and (min-width: 768px) {
  .fav-wrapper {
    padding-top: 44px;
  }

  .fav-hero {
    width: 704px;
    height: 356px;
    background-size: cover;

    /* Chrome & Safari */
    background-image: -webkit-image-set(
      url('../../images/favorites/jpg/card-tab@3x.avif') 3x,
      url('../../images/favorites/jpg/card-tab@2x.avif') 2x,
      url('../../images/favorites/jpg/card-tab@1x.avif') 1x,
      url('../../images/favorites/webp/card-tab@3x.webp') 3x,
      url('../../images/favorites/webp/card-tab@2x.webp') 2x,
      url('../../images/favorites/webp/card-tab@1x.webp') 1x,
      url('../../images/favorites/jpg/card-tab@3x.jpg') 3x,
      url('../../images/favorites/jpg/card-tab@2x.jpg') 2x,
      url('../../images/favorites/jpg/card-tab@1x.jpg') 1x
    );

    /* For Firefox */
    background-image: -webkit-image-set(
      url('../../images/favorites/jpg/card-tab@3x.avif') type('image/avif') 3x,
      url('../../images/favorites/jpg/card-tab@2x.avif') type('image/avif') 2x,
      url('../../images/favorites/jpg/card-tab@1x.avif') type('image/avif') 1x,
      url('../../images/favorites/webp/card-tab@3x.webp') type('image/webp') 3x,
      url('../../images/favorites/webp/card-tab@2x.webp') type('image/webp') 2x,
      url('../../images/favorites/webp/card-tab@1x.webp') type('image/webp') 1x,
      url('../../images/favorites/jpg/card-tab@3x.jpg') 3x,
      url('../../images/favorites/jpg/card-tab@2x.jpg') 2x,
      url('../../images/favorites/jpg/card-tab@1x.jpg') 1x
    );
  }
}

@media screen and (min-width: 1280px) {
  .fav-wrapper {
    padding-top: 34px;
  }

  .fav-hero {
    width: 1080px;
    height: 356px;
    background-size: cover;
    /* Chrome & Safari */
    background-image: -webkit-image-set(
      url('../../images/favorites/jpg/card-desk@3x.avif') 3x,
      url('../../images/favorites/jpg/card-desk@2x.avif') 2x,
      url('../../images/favorites/jpg/card-desk@1x.avif') 1x,
      url('../../images/favorites/webp/card-desk@3x.webp') 3x,
      url('../../images/favorites/webp/card-desk@2x.webp') 2x,
      url('../../images/favorites/webp/card-desk@1x.webp') 1x,
      url('../../images/favorites/jpg/card-desk@3x.jpg') 3x,
      url('../../images/favorites/jpg/card-desk@2x.jpg') 2x,
      url('../../images/favorites/jpg/card-desk@1x.jpg') 1x
    );

    /* For Firefox */
    background-image: -webkit-image-set(
      url('../../images/favorites/jpg/card-desk@3x.avif') type('image/avif') 3x,
      url('../../images/favorites/jpg/card-desk@2x.avif') type('image/avif') 2x,
      url('../../images/favorites/jpg/card-desk@1x.avif') type('image/avif') 1x,
      url('../../images/favorites/webp/card-desk@3x.webp') type('image/webp') 3x,
      url('../../images/favorites/webp/card-desk@2x.webp') type('image/webp') 2x,
      url('../../images/favorites/webp/card-desk@1x.webp') type('image/webp') 1x,
      url('../../images/favorites/jpg/card-desk@3x.jpg') 3x,
      url('../../images/favorites/jpg/card-desk@2x.jpg') 2x,
      url('../../images/favorites/jpg/card-desk@1x.jpg') 1x
    );
  }
}

.fav-hero {
  margin: 0 auto;
}
