.scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #9bb537;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.show-btn {
    display: block;
}

.scrollToTopBtn:hover {
    opacity: 1;
}

.scrollToTopBtn img {
    width: 30px; 
    height: 30px;
    object-fit: contain; 
}

/* Додаткові стилі для планшетів */
@media (max-width: 768px) {
    .scrollToTopBtn {
        bottom: 10px;
        right: 10px;
    }

    .scrollToTopBtn img {
        width: 25px;
        height: 25px;
    }
}

/* Додаткові стилі для мобільних телефонів */
@media (max-width: 480px) {
    .scrollToTopBtn {
        bottom: 5;
    }
}