<div class="backdrop-recipes is-hidden">
  <div class="modal-recipes is-hidden">
    <button type="button" class="modal-close-btn">
      <svg class="modal-close-btn-icon" width="20" height="20">
        <use href="/src/images/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <div class="recipes-iframe-wrapper">
      <iframe
        class="recipes-iframe-video"
        src="https://www.youtube.com/embed/"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>

    <h2 class="recipes-title">Banana Pancakes</h2>

    <div class="rating-time-container">
      <p class="ratinng-value">#</p>

      <ul class="modal-rating-star-list">
        <li class="modal-rating-star-item">
          <svg class="modal-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite.svg#star"></use>
          </svg>
        </li>
        <li class="modal-rating-star-item">
          <svg class="modal-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite.svg#star"></use>
          </svg>
        </li>
        <li class="modal-rating-star-item">
          <svg class="modal-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite.svg#star"></use>
          </svg>
        </li>
        <li class="modal-rating-star-item">
          <svg class="modal-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite.svg#star"></use>
          </svg>
        </li>
        <li class="modal-rating-star-item">
          <svg class="modal-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite.svg#star"></use>
          </svg>
        </li>
      </ul>
      <p class="recipes-cooking-time">#</p>
      <p class="time-text">min</p>
    </div>

    <ul class="recipes-components-list"></ul>
    <ul class="recipes-hashtags-list"></ul>

    <p class="recipes-description">
      Mash the ripe banana in a medium mixing bowl. Add the egg and whisk
      together until well combined. Add the flour, baking powder, cinnamon (if
      using), and salt, and stir until just combined.Heat a non-stick skillet or
      griddle over medium heat and add the vegetable oil or melted butter. Scoop
      the batter onto the skillet or griddle using a 1/4 cup measure, and cook
      for 2-3 minutes on each side, or until the pancakes are golden brown and
      cooked through. Serve warm with your favorite toppings such as maple
      syrup, sliced bananas, or whipped cream.
    </p>
    <div class="modal-btn-container">
      <button class="btn-add-favorite" type="button">Add to favorite</button>
      <button class="btn-give-rating" type="button">Give a rating</button>
    </div>
  </div>
</div>
