<div class="backdrop">
  <div class="modal-rating">
    <div class="rating-container">
      <h3 class="rating-title">Rating</h3>

      <form class="form-check">
        <div class="rating-stars">
          <p class="rating-number">0.0</p>
          <label>
            <input
              class="rating-check"
              type="radio"
              name="rating1"
              value="rating1"
              checked
            />
            <svg class="star" width="24px" height="24px">
              <use
                class="icon icon-fill"
                href="./images/sprite.svg#rate-star"
              ></use>
            </svg>
          </label>
          <label
            ><input
              class="rating-check"
              type="radio"
              name="rating2"
              value="rating2"
            />
            <svg class="star" width="24px" height="24px">
              <use class="icon" href="./images/sprite.svg#rate-star"></use>
            </svg>
          </label>
          <label
            ><input
              class="rating-check"
              type="radio"
              name="rating3"
              value="rating3"
            />
            <svg class="star" width="24px" height="24px">
              <use class="icon" href="./images/sprite.svg#rate-star"></use>
            </svg>
          </label>
          <label
            ><input
              class="rating-check"
              type="radio"
              name="rating4"
              value="rating4"
            />
            <svg class="star" width="24px" height="24px">
              <use class="icon" href="./images/sprite.svg#rate-star"></use>
            </svg>
          </label>
          <label
            ><input
              class="rating-check"
              type="radio"
              name="rating5"
              value="rating5"
            />
            <svg class="star" width="24px" height="24px">
              <use class="icon" href="./images/sprite.svg#rate-star"></use>
            </svg>
          </label>
        </div>
        <label>
          <input
            class="rating-email"
            type="email"
            placeholder="Enter email"
            required
          />
        </label>
        <button type="submit" class="rating-button-send">Send</button>

        <button class="rating-button-close">
          <svg class="close">
            <use class="close-icon" href="./images/sprite.svg#icon-x"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</div>
