<div class="backdrop">
  <div class="modal-rating">
    <div class="raiting-container">
    <h3 class="rating-title">Rating</h3>
    <div class="rating-stars">
      <p class="raiting-number">0.0</p>
      <svg class="star">
        <use class="icon icon-fill" href="./images/sprite.svg#rate-star"></use>
      </svg>
      <svg class="star">
        <use class="icon" href="./images/sprite.svg#rate-star"></use>
      </svg>
      <svg class="star">
        <use class="icon" href="./images/sprite.svg#rate-star"></use>
      </svg>
      <svg class="star">
        <use class="icon" href="./images/sprite.svg#rate-star"></use>
      </svg>
      <svg class="star">
        <use class="icon" href="./images/sprite.svg#rate-star"></use>
      </svg>
    </div>
    <form action="">
      <input class="raiting-email" type="email" placeholder="Enter email" />
      <button class="raiting-button-send">Send</button>
    </form>
    <button class="raiting-button-close">
      <svg class="close">
        <use class="close-icon" href="./images/sprite.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  </div>
</div>
