<!-- Додати клас is-hidden до backdrop -->
<div class="backdrop is-hidden">
  <!-- Додати клас is-hidden до modal-receipes -->
  <div class="modal-recipes">
    <button type="button" class="modal-close-btn">
      <svg class="modal-close-btn-icon" width="20" height="20">
        <use href="/src/images/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <div class="recipes-iframe-wrapper">
      <iframe class="recipes-iframe-video" src="https://www.youtube.com/embed/_ID_"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h2 class="recipes-title">Banana Pancakes</h2>

    <div class="rating-time-container">
      <p class="ratinng-value">4.5</p>
      <ul class="modal-rating-star-list">
        <li class="modal-rating-star-item">
          <svg class="modal-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite.svg#star"></use>
          </svg>
        </li>
        <li class="modal-rating-star-item">
          <svg class="modal-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite.svg#star"></use>
          </svg>
        </li>
        <li class="modal-rating-star-item">
          <svg class="modal-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite.svg#star"></use>
          </svg>
        </li>
        <li class="modal-rating-star-item">
          <svg class="modal-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite.svg#star"></use>
          </svg>
        </li>
        <li class="modal-rating-star-item">
          <svg class="modal-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite.svg#star"></use>
          </svg>
        </li>
      </ul>
      <p class="recipes-cooking-time">40 min</p>
    </div>

    <ul class="recipes-components-list">
      <li class="recipes-components-item">
        <p class="recipes-components-item_name">Banana</p>
        <p class="recipes-components-item_quantity">1 large</p>
      </li>
      <li class="recipes-components-item">
        <p class="recipes-components-item_name">Eggs</p>
        <p class="recipes-components-item_quantity">2 medium</p>
      </li>
      <li class="recipes-components-item">
        <p class="recipes-components-item_name">Oil</p>
        <p class="recipes-components-item_quantity">1 tsp</p>
      </li>
      <li class="recipes-components-item">
        <p class="recipes-components-item_name">Pecan nuts</p>
        <p class="recipes-components-item_quantity">25 tsp</p>
      </li>
      <li class="recipes-components-item">
        <p class="recipes-components-item_name">Baking Powder</p>
        <p class="recipes-components-item_quantity">Pinch</p>
      </li>
      <li class="recipes-components-item">
        <p class="recipes-components-item_name">Raspberries</p>
        <p class="recipes-components-item_quantity">125 g</p>
      </li>
    </ul>
    <ul class="recipes-hashtags-list">
      <li class="recipes-hashtags-item">#Breakfast</li>
      <li class="recipes-hashtags-item">#Desert</li>
      <li class="recipes-hashtags-item">#Sweet</li>
    </ul>

    <p class="recipes-description">
      Mash the ripe banana in a medium mixing bowl. Add the egg and whisk
      together until well combined. Add the flour, baking powder, cinnamon (if
      using), and salt, and stir until just combined.Heat a non-stick skillet or
      griddle over medium heat and add the vegetable oil or melted butter. Scoop
      the batter onto the skillet or griddle using a 1/4 cup measure, and cook
      for 2-3 minutes on each side, or until the pancakes are golden brown and
      cooked through. Serve warm with your favorite toppings such as maple
      syrup, sliced bananas, or whipped cream.
    </p>
    <div class="modal-btn-container">
      <button class="btn-add-favorite" type="button">Add to favorite</button>
      <button class="btn-give-rating" type="button" data-modal-rating-open>Give a rating</button>
    </div>
  </div>
</div>