<!-- Додати клас is-hidden до backdrop -->
<div class="backdrop">
  <!-- Додати клас is-hidden до modal-receipes -->
  <div class="modal-receipes">
    <ul class="recipes-components-list">
      <li class="recipes-components-item">
        <p class="recipes-components-item_name">Banana</p>
        <p class="recipes-components-item_quantity">1 large</p>
      </li>
      <li class="recipes-components-item">
        <p class="recipes-components-item_name">Eggs</p>
        <p class="recipes-components-item_quantity">2 medium</p>
      </li>
      <li class="recipes-components-item">
        <p class="recipes-components-item_name">Oil</p>
        <p class="recipes-components-item_quantity">1 tsp</p>
      </li>
      <li class="recipes-components-item">
        <p class="recipes-components-item_text">Pecan nuts</p>
        <p class="recipes-components-item_text">25 tsp</p>
      </li>
      <li class="recipes-components-item">
        <p class="recipes-components-item_text">Baking Powder</p>
        <p class="recipes-components-item_text">Pinch</p>
      </li>
      <li class="recipes-components-item">
        <p class="recipes-components-item_text">Raspberries</p>
        <p class="recipes-components-item_text">125 g</p>
      </li>
    </ul>
  </div>
</div>
