<div class="backdrop is-hidden">
  <div class="modal-rating">
    <div class="rating-container">
      <form class="form-check">
        <h3 class="rating-title">Rating</h3>
        <div class="rating">
          <div class="rating-value">0.0</div>
          <div class="rating-body">
            <div class="rating-active"></div>

            <div class="rating-items">
              <label>
                <input
                  class="rating-item"
                  type="radio"
                  name="rating"
                  value="1"
                />
                <svg class="star" width="24px" height="24px">
                  <use href="./images/sprite.svg#rate-star"></use>
                </svg>
              </label>

              <label
                ><input
                  class="rating-item"
                  type="radio"
                  name="rating"
                  value="2"
                />
                <svg class="star" width="24px" height="24px">
                  <use href="./images/sprite.svg#rate-star"></use>
                </svg>
              </label>

              <label
                ><input
                  class="rating-item"
                  type="radio"
                  name="rating"
                  value="3"
                />
                <svg class="star" width="24px" height="24px">
                  <use href="./images/sprite.svg#rate-star"></use>
                </svg>
              </label>

              <label
                ><input
                  class="rating-item"
                  type="radio"
                  name="rating"
                  value="4"
                />
                <svg class="star" width="24px" height="24px">
                  <use href="./images/sprite.svg#rate-star"></use>
                </svg>
              </label>

              <label
                ><input
                  class="rating-item"
                  type="radio"
                  name="rating"
                  value="5"
                />
                <svg class="star" width="24px" height="24px">
                  <use href="./images/sprite.svg#rate-star"></use>
                </svg>
              </label>
            </div>
          </div>
        </div>

        <input
          class="rating-email"
          type="email"
          name="email"
          placeholder="Enter email"
          required
        />

        <button type="submit" class="rating-button-send">Send</button>
      </form>

      <button class="rating-button-close">
        <svg class="close">
          <use class="close-icon" href="./images/sprite.svg#icon-x"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
