<header>
  <div class="container">
    <nav class="header-nav">
      <ul class="nav-list">
        <a href="">
          <li class="nav-point">Home</li>
        </a>
        <a href=""><li class="nav-point">Favorite</li>
        </a>
      </ul>
    </nav>

    <a class="header-logo" href="">tasty<span class="logo">treats.</span></a>
    
    <ul class="btn">
    <button class="buy-now">
        <a href="tel:+380730000000">
      <svg width="24px" height="24px" class="buy-btn">
        <use href="/src/images/sprite.svg#icon-cart"></use>
      </svg></a>
    </button>
    <label class="switch" > 
      <input class="switcher" type="checkbox" id="theme-switch" />
      <span></span>
    </label>
   

    <button class="open-mobile">
      <svg width="32px" height="32px">
        <use href="/src/images/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </ul>

    
   
  </div>

  <div class="mobile-menu container is-hidden">
    <div class="mobile">
      <button class="close-mobile">
        <svg widht="32px" height="32px">
            <use href="/src/images/sprite.svg#icon-x"></use>
        </svg>
      </button>
      <ul>
        <a href="">
            <li>Home</li>
          </a>
          <a href=""><li>Favorite</li>
          </a> 
    </ul>

    <input class="switch" type="checkbox" id="theme-switch" />
    </div>
  </div>
</header>


