<header>
  <div class="container">
    <nav class="header-nav">
      <ul class="nav-list">
        <a href="../index.html">
          <li>Home</li>
        </a>
        <a href="./favorites-page/fav-list.html"><li>Favorite</li>
        </a>
      </ul>
      <a class="header-logo" href="../index.html">tasty<span>treats.</span></a>
    </nav>

    <button class="burger-menu">
      <svg>
        <use href="/src/images/sprite.svg#icon-menu"></use>
      </svg>
    </button>

    <button class="buy-now">
        <a href="tel:+380730000000">
      <svg>
        <use href="/src/images/sprite.svg#icon-cart"></use>
      </svg></a>
    </button>

    
    <input class="switch" type="checkbox" id="theme-switch" />
  </div>

  <div class="mobile-menu">
    <button class="close-mobile-menu">
        <svg>
            <use href="/src/images/sprite.svg#icon-x"></use>
        </svg>
    </button>
    <ul>
        <a href="../index.html">
            <li>Home</li>
          </a>
          <a href="./favorites-page/fav-list.html"><li>Favorite</li>
          </a> 
    </ul>
<input class="switch" type="checkbox" id="theme-switch" />
  </div>
</header>

<!-- Test comments -->
