<header>
  <div class="container container-header-nav">
    <nav class="header-nav">

      <a id="home-link" class="menu-nav-links" href="./index.html">Home</a>
      <a id="favorites-link" class="menu-nav-links" href="./favorites.html">Favorites</a>
    </nav>
   
      <div class="logo-block">
        <a class="logo-first-color" href="./index.html">tasty<span class="logo-second-color">treats.</span></a>
    </div>
    

    <div class="header-buttons">
      <div class="buttons-wrapper">
        <button class="cart">
          <svg class="buy-btn" width="22" height="22">
            <use href="./images/sprite.svg#cart"></use>
          </svg>
        </button>
       
        <button class="open-mobile">
          <svg width="32" height="32">
            <use href="./images/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </div>

        
      
      <label class="switch">
        <input class="switcher" type="checkbox" id="theme-switch" />
        <span class="slider"> </span>
        <span></span>
      </label>
      

    <!-- Mobile Menu -->

    <div class="mobile ">
      <button class="close-mobile">
        <svg class="mobile-svg" width="32" height="32">
          <use href="./images/sprite.svg#icon-x"></use>
        </svg>
      </button>
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="./index.html">Home</a>
        </li>
        <li><a class="mob-menu-link" href="./favorites.html">Favorite</a></li>
      </ul>
      <!-- <label class="switch-mobile">
        <input class="switcher-mobile" type="checkbox" id="theme-switch" /> -->
        <span></span>
        <span></span>
      </label>
    </div>
  </div>
</header>
