<section class="hero">
    <div class="container">
        <h1 class="hero-title">Learn to Cook
            <span class="hero-title-link">
                Tasty Treats'
            </span>
            Customizable Masterclass
        </h1>
        <p class="hero-descrption">
            TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.
        </p>
        <button class="hero-btn">Order now</button>
    </div>
    <div class="slider-content">
        <ul class="slider-items">
            <li class="sliderlist">
                <img src="" alt="img-in-proces">
            </li>
            <li class="sliderlist">
                <img src="" alt="img-in-proces">
                <h3 class="master-title">title</h3>
                <p class="master-description">description
                </p>
            </li>
            <li class="sliderlist">
                <img src="" alt="img-in-proces">
            </li>
        </ul>
    </div>

</section>