<section class="hero">
    <div class="container">
        <h1 class="hero-title">Learn to Cook<span class="title">Tasty Treats'</span> Customizable Masterclass</h1>
        <p class="hero-description">
            TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.
        </p>
        <button class="hero-btn">Order now</button>
        <ul class="hero-master-class">
            <!-- <li class="master-class-items"><img src="" alt="test-img"></li>
            <li class="master-class-items"><img src="" alt="test-img">
                <h3 class="master-class-title">
                    <p class="master-class-description"></p>
                </h3>
            </li>
            <li class="master-class-items"><img src="" alt="test-img"></li> -->
        </ul>
    </div>
</section>