<section class="hero container">
  <div class="container-wrapper">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        Learn to Cook <span class="title">Tasty Treats'</span> Customizable
        Masterclass
      </h1>
      <p class="hero-description">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button type="button" class="hero__button button" data-modal-order-open>
        Order now
      </button>
    </div>

    <div class="block-body">
      <div class="swiper-container image-slider">
        <div class="swiper-wrapper"></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- test  -->
