<!-- <section class="search_recipes">
  <form class="form_search">
   <label class="form-label">
    <span class="label-text">Search</span>
    <input type="text" class="form-input" name="username" placeholder="Enter Text">
  </label>
      <svg class="icon-search" width="18" height="18">
      <use href="./images/sprite.svg#search"></use>
    </svg>
  </form>
  <div class="time_area">
  <div class="form__time">
    <label for="time" class="time">Time</label>
    <select id="time" name="time" class="choice">
      <option value=""></option>
      <option value=""></option>
      <option value="40" selected>40 min</option>
      <option value=""></option>
    </select>
  </div>
  <div class="form__area">
    <label for="area" class="area">Area</label>
    <select id="area" name="area" class="choice">
      <option value=""></option>
      <option value=""></option>
      <option value="40" selected>Italian</option>
      <option value=""></option>
    </select>
  </div>
  </div>
  <div class="form__ingredients" class="choice">
    <label for="ingredients" class="ingredients">Ingredients</label>
    <select id="ingredients" name="ingredients" class="choice">
      <option value=""></option>
      <option value=""></option>
      <option value="tomato" selected>Tomato</option>
      <option value=""></option>
    </select>
  </div>
</section>

 -->
