<section class="search_recipes">
  <div class="recipes_box">
    <form class="form_search">
      <label class="form-label">
        <span class="label-text">Search</span>
        <input
          type="search"
          class="form-input"
          name="username"
          placeholder="Enter Text"
        />
      </label>
    </form>

    <div class="form__time">
      <label for="time" class="time">Time</label>
      <select id="time" name="time" class="dropdown">
        <option value=""></option>
        <option value=""></option>
        <option value="40" selected>40 min</option>
        <option value=""></option>
      </select>
    </div>
    <div class="form__area">
      <label for="area" class="area">Area</label>
      <select id="area" name="area" class="dropdown">
        <option value=""></option>
        <option value=""></option>
        <option value="40" selected>Italian</option>
        <option value=""></option>
      </select>
    </div>
    <div class="form__ingredients">
      <label for="ingredients" class="ingredients">Ingredients</label>
      <select id="ingredients" name="ingredients" class="dropdown">
        <option value=""></option>
        <option value=""></option>
        <option value="tomato" selected>Tomato</option>
        <option value=""></option>
      </select>
    </div>
  </div>

  <div class="reset">
    <svg class="icon-x" width="16" height="16">
      <use href="./images/sprite.svg#icon-x"></use>
    </svg>
    <div class="reset_filter">Reset the filter</div>
  </div>

  <div class="recipes">
    <ul class="recipes__items">
      <li class="recipes__item"></li>
    </ul>
  </div>
</section>
