.dark-theme {
  background-color: #161616;
  color: #fff;
}

.mobile {
   position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  height: 100%; 
  width: 200px;
  background-color: #9bb537;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: translateX(100%);

}


.backdrop{
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-mobile {
  position: fixed;
  font-size: 20px;
  cursor: pointer;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
  background-color: #9bb537;
  border: none;
  color: #ffffff;
}

.mob-menu-list {
  
  padding-top: 200px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}



.menu-nav-links:hover {
  color:#9bb537;
}

.mob-menu-item {
  margin-bottom: 16px;
}

.mob-menu-link {
  text-decoration: none;
  color: #ffffff; 
}

.buy-btn {
  /* fill: #050505; */
  display: flex;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.buy-btn:hover,
.buy-btn:focus {
  color: #9bb537;
}

.dark-theme .buy-btn{
    color: #ffffff;
}


.container-header-nav{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
.logo-block{
    padding-top: 28px;
    padding-bottom: 28px;
}


.logo-first-color {
  color: #9bb537;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.64px;
 
}

.logo-second-color {
  color: #050505;
}

.dark-theme .logo-second-color {
  color: #ffffff;
}

.cart {
  border: none;
  background: none;
 
}

#home-mobile .dark-theme{
    color: #9bb537;
} 


.header-buttons {
  display: flex;
}

.buttons-wrapper {
  display: flex;
  
}


.open-mobile {
  border: none;
  background: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-mobile:hover {
  color: #9bb537;
}

.dark-theme .open-mobile{
    color: #ffffff;
}

a {
  text-decoration: none;
}

.nav-list {
  display: flex;
}

.switch-mobile {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.switch {
    display: none;
}

@media screen and (max-width: 767px) {
  .switcher {
    display: none;
  }

  .header-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .open-mobile {
    display: none;
  }

  .header-nav {
    display: flex;
  
  }

  #home-link{
    color: #050505;
  }

  .dark-theme #home-link{
    color: #fff;
  }

  #favorites-link{
    color: #9bb537;
  }
 

  .menu-nav-links {
    
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .menu-nav-links:not(:last-child) {
    margin-right: 16px;
  }

  
  .switcher {
    display: block;
  }

  /* .nav-link:visited {
    color: #9bb537;
  } */

  
  .logo-first-color {
    font-size: 18px;
    line-height: 20px;
    
  }
}

@media screen and (min-width: 1280px) {

 /* не існує ніяких марджинів. */
  .logo-first-color {
    
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
