.dark-theme {
  background-color: #161616;
  color: #fff;
}

.mobile {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 100%;
  width: 200px;
  background-color: #9bb537;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: translateX(-0%);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-mobile {
  position: fixed;
  font-size: 20px;
  cursor: pointer;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
  background-color: #9bb537;
  border: none;
  color: #ffffff;
}

.mob-menu-list {
  color: #ffffff;
  padding-top: 200px;

  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.mob-menu-link:visited {
  color: #fff;
}

.mob-menu-item {
  margin-bottom: 16px;
}

.mob-menu-link {
  text-decoration: none;
}

.buy-btn {
  fill: #050505;
  display: flex;
  justify-content: center;
}

.buy-btn:hover,
.buy-btn:Focus
 {
  color: #9bb537;
}

.container {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  /* color: #050505; */
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}

.logo {
  color: #9bb537;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.04em;
}

.cart {
  border: none;
  background: none;
}

.header-buttons {
  display: flex;
}

.buttons-wrapper {
  display: flex;
  gap: 16px;
}

.open-mobile {
  border: none;
  background: none;
}

.open-mobile:hover {
  color: #9bb537;
}

a {
  text-decoration: none;
}

.nav-list {
  display: flex;
}

.switch-mobile {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.slider {
}

.buy-now.dark-theme{
    color:#ffffff;
}

@media screen and (max-width: 767px) {
  .switcher {
    display: none;
  }

  .header-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .open-mobile {
    display: none;
  }

  .header-logo {
    line-height: 20px;
    font-size: 18px;
  }

  .logo {
    line-height: 20px;
    font-size: 18px;
  }

  .header-nav {
    display: flex;
    gap: 16px;
  }

  .nav-point-home {
    color: #9bb537;
    font-size: 12px;
    font-weight: 500;

    text-align: left;
    margin-right: 16px;
  }

  .nav-point {
    font-size: 12px;
    font-weight: 400;

    text-align: left;
  }

  .nav-point:hover,
  .nav-point:focus{
    color: #9bb537;
  }

  .switcher {
    display: block;
  }

  .nav-link:visited {
    color: #9bb537;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin-top: 40px;
  }
}
