.hero {
  min-height: 100%;
}

.block-body {
  width: 100%;

  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
}
.container {
}
.hero-wrapper {
}
.hero-title {
  text-transform: uppercase;
  text-align: start;
  margin-top: 80px;
  font-size: 36px;

  color: #050505;

  font-weight: 700;
}
.title {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  color: #9bb537;
  margin-bottom: 14px;
}
.hero-description {
  font-size: 16px;

  text-align: start;
  font-weight: regular;
  color: #050505;
  margin-bottom: 28px;
}
.hero__button {
  font-size: 14px;
  background-color: #fff;
  padding: 10px 20px;
  border: 2px solid #9bb537;
  border-radius: 12px;
}

.hero__button:hover,
.hero__button:focus {
  color: #f8f8f8;
  background-color: #9bb537;
}

.swiper-container {
  width: auto;
  padding: 48px 0 0 0;
}
.swiper-wrapper {
  display: flex;
}

.element-wrapper {
  display: flex;
}
.swiper-slide {
  width: 100%;
}
.swiper-pagination {
}

/* the first card in the slider */
.schef-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  width: 80px;
  min-width: 80px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.schef-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* the second card in the slider */

.dish-Preview-image-wrapper {
  background-color: #050505;
  width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  margin-right: 16px;
  height: 300px;
  border-radius: 15px;
  background-image: radial-gradient(
    circle at center,
    rgba(155, 181, 55, 0.3),
    transparent
  );
}

.dish-Preview-image-wrapper img {
  width: 100%;
  height: auto;
}

.event-name {
  width: 157px;
  font-size: 10px;

  color: rgba(248, 248, 248, 0.6);
  margin-top: 20px;
}

.event-region {
  font-size: 8px;

  color: rgba(248, 248, 248, 0.2);
  margin-top: 8px;
}

/* the third card in the slider */

.dish-image-wrapper {
  max-width: 200px;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 300px;
  border-radius: 15px;
  background-color: #050505;
  background-image: radial-gradient(
    circle at center,
    rgba(155, 181, 55, 0.3),
    transparent
  );
}

.dish-image-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  transform: scale(1.7);
}

/* CSS для зміни стилів точок пагінації */
.swiper-pagination {
  position: relative !important;
  display: inline-block;
  top: 0;
}

.block-body .swiper-pagination-bullet {
  background-color: #050505;
  width: 8px;
  height: 8px;
  margin: 4px;
  border-radius: 50%;
}

.block-body .swiper-pagination-bullet-active {
  display: inline-block;
  background-color: #9bb537;
}

/* Загальні стилі для всіх розмірів пристроїв */
@media screen and (min-width: 481px) {
  .hero-title {
    max-width: 446px;
  }

  .hero-description {
    max-width: 390px;
  }

  /* .dish-Preview-image-wrapper {
    max-width: 350px;
  }

  .dish-image-wrapper {
    max-width: 350px;
  } */
}

@media screen and (min-width: 769px) {
  .schef-image-wrapper {
    width: 137px;
  }
  .hero__button {
    padding: 14px 28px;
  }
  .swiper-container {
    padding: 64px 0 0 0;
  }
  .schef-image-wrapper {
    min-width: 137px;
    height: 442px;
  }
  .dish-Preview-image-wrapper {
    width: 350px;
    height: 442px;
  }
  .event-name {
    font-size: 14px;
    width: 276px;
    margin-top: 32px;
  }
  .event-region {
    font-size: 12px;
  }
  .dish-image-wrapper {
    width: 350px;
    height: 442px;
  }
}

@media screen and (min-width: 1281px) {
  .container-wrapper {
    display: flex;
  }
  .hero-wrapper {
  }
  .swiper-container {
    height: 468px;
    padding: 30px 32px 0 32px;
  }
}
