/* @media screen and (min-width: 320px) {
.form-label {
        display: flex;
        flex-direction: column;
    }
  .search_recipes {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .label-text, 
  .time, 
  .area, 
  .ingredients {
    size: 14px;
    font-weight: 500;
    line-height: 1.17;
    color: #050505;
  }

  .form-input,
  .choice {
size: 14px;
    font-weight: 500;
    line-height: 1.29;
    color: #050505;
  }

  .form-input{    
    width: 100%;
    height: 46px;
    border: 1px solid #050505;
    border-radius: 15px;
    outline: none;
    position: relative;
    padding-left: 40px;
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .icon-search {
    position: absolute;
    top: 150px;
    left: 14%;
    transform: translateY(-50%);
  }

.time_area {
    display: flex;

}

label {
    display: block;
}
.choice{
    height: 46px;
    border: 1px solid #050505;
        border-radius: 15px;
        outline: none;
}

.form__time.choice {
    width: 160px;
}

.form__area.choice {
    width: 161px;
}

.form__ingredients.choice {
    width: 188px;
}

} */