.search_recipes {
  color: rgba(5, 5, 5, 0.5);
  font-weight: 500;
}

.recipes_box {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.label-text {
  font-size: 12px;
  line-height: calc(14 / 12);
  margin-bottom: 8px;
  display: block;
}

.form-input {
  color: rgba(5, 5, 5, 1);
  font-size: 14px;
  line-height: calc(18 / 14);
  width: 335px;
  height: 46px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  border-radius: 15px;
  outline: none;
  padding-left: 48px;
  background: url('../images/search.svg') no-repeat;
  background-position: 18px center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover {
  background-image: url('../images/search-green.svg');
}

.form-input::placeholder {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  line-height: calc(18 / 14);
}

/* FILTERS */
.all-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 14px;
}

.form-time-text {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.16667;
  display: block;
}

.form__time > .ss-main {
  width: 160px;
  height: 46px;
  border-radius: 15px;
  padding: 14px 18px 14px 18px;
  border: 1px solid #05050533;
  font-size: 14px;
  line-height: 1.28;
  color: #05050580;
  font-weight: 500;
}

.form__time > .ss-main:focus {
  box-shadow: 0 0 5px var(--accent-color);
}

.form-area-text {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.16667;
  display: block;
}

.form__area > .ss-main {
  width: 161px;
  height: 46px;
  border-radius: 15px;
  border: 1px solid #05050533;
  padding: 14px 18px 14px 18px;
  font-size: 14px;
  color: #05050580;
}

.form__area > .ss-main:focus {
  box-shadow: 0 0 5px var(--accent-color);
}

.form-ing-text {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.16667;
  display: block;
}

.form__form__ingredients > .ss-main {
  width: 188px;
  height: 46px;
  border-radius: 15px;
  border: 1px solid #05050533;
  padding: 14px 18px 14px 18px;
  font-size: 14px;
  color: #05050580;
}

.form__form__ingredients > .ss-main:focus {
  box-shadow: 0 0 5px var(--accent-color);
}

.reset {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-bottom: 20px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.reset.pressed {
  color: rgba(5, 5, 5, 1);
}

.icon-x {
  color: #9bb537;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.reset_filter {
  font-size: 12px;
  line-height: calc(16 / 12);
}

/*  */

.rec-search-item {
  position: relative;
  display: flex;
  color: #f8f8f8;
  font-size: 12px;
  border-radius: 14px;
}

#search-section .stars-list {
  margin-right: auto;
}

.heart-btn.on-active .icon-heart {
  fill: var(--text-white-color);
}

/*  */

@media screen and (max-width: 1279px) {
  .rec-search-item :nth-child(2n),
  .rec-search-item :last-child {
    margin-right: 0;
  }

  .rec-search-item :nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

#heart-btn-add-fav {
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 767px) {
  .search_recipes {
    width: 335px;
    margin: 0 auto;
  }

  .image-container {
    display: block;
    margin-bottom: 40px;
  }

  .rec-search-item {
    width: 335px;
    height: 335px;
  }

  .rec-search-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  /* Filters */

  .form__time > .form-time-text {
    font-size: 14;
    line-height: 1.3;
  }

  .form__time > .ss-main {
    width: 125px;
    height: 48px;
  }

  .form__area > .ss-main {
    width: 141px;
    height: 48px;
  }

  .form__form__ingredients > .ss-main {
    height: 48px;
  }

  .rec-search-item {
    width: 240px;
    height: 264px;
    display: inline-flex;
  }

  .search_recipes {
    width: 496px;
    min-height: 985px;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    min-height: 844px;
    margin-bottom: 64px;
  }

  .recipes_box {
    align-items: center;
    gap: 16px;
  }

  .label-text {
    font-size: 14px;
    line-height: calc(18 / 14);
  }

  .form-input {
    width: 278px;
    height: 48px;
  }

  .form-input::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
  }

  .reset {
    margin-bottom: 14px;
  }

  .reset_filter {
    font-size: 12px;
    line-height: calc(16 / 12);
  }

  .recipes {
    margin-bottom: 64px;
    min-height: 844px;
  }
}

@media screen and (min-width: 1280px) {
  #search-section .rec-search-item {
    width: 250px;
    height: 287px;
  }

  .rec-search-item:nth-child(3n),
  .rec-search-item:last-child {
    margin-right: 0;
  }

  .rec-search-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  .search_recipes {
    width: 782px;
    min-height: 728px;
  }

  .image-container {
    min-height: 908px;
    display: flex;
    row-gap: 32px;
  }
}
