.search_recipes {
  color: rgba(5, 5, 5, 0.5);
  font-weight: 500;
}

.recipes_box {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 14px;
}

.label-text,
.time,
.area,
.ingredients {
  font-size: 12px;
  line-height: calc(14 / 12);
  margin-bottom: 8px;
  display: block;
}

.form-input {
  color: rgba(5, 5, 5, 1);
  font-size: 14px;
  line-height: calc(18 / 14);
  width: 335px;
  height: 46px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  border-radius: 15px;
  outline: none;
  padding-left: 48px;
  background: url('../images/search.svg') no-repeat;
  background-position: 18px center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover {
  background-image: url('../images/search-green.svg');
}

.form-input::placeholder {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  line-height: calc(18 / 14);
}

/* Стилизация обертки для выпадающего меню */
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.choice__time {
  width: 160px;
}

.choice__area {
  width: 161px;
}

.choice__ingredients {
  width: 188px;
}

.selected-option,
.dropdown-list {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  line-height: calc(18 / 14);
}

.custom-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-dropdown .selected-option {
  display: flex;
  border: 1px solid rgba(5, 5, 5, 0.2);
  border-radius: 15px;
  background: url('../images/chevron-down.svg') no-repeat right center;
  background-position-x: calc(100% - 18px);
  height: 46px;
  padding-left: 18px;
  align-items: center;
}

.custom-dropdown .dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  overflow-y: auto;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 1);
}

.choice__time .dropdown-list {
  max-height: 124px;
}

.choice__area .dropdown-list {
  max-height: 176px;
}

.choice__ingredients .dropdown-list {
  max-height: 176px;
}

.custom-dropdown:hover .dropdown-list,
.custom-dropdown.active .dropdown-list {
  display: block;
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 14px;
}

.custom-dropdown .dropdown-list li {
  margin-bottom: 8px;
  cursor: pointer;
}

.custom-dropdown .dropdown-list li:last-child {
  margin-bottom: 0;
}

.custom-dropdown .dropdown-list li:hover {
  color: rgba(5, 5, 5, 1);
}

.custom-dropdown .dropdown-list::-webkit-scrollbar-thumb {
  background-color: rgba(5, 5, 5, 0.1);
  border-radius: 12px;
}

.custom-dropdown .dropdown-list::-moz-scrollbar-thumb {
  background-color: rgba(5, 5, 5, 0.1);
  border-radius: 12px;
}

.reset {
  display: inline-flex;
  align-items: center;
  padding-left: 230px;
  margin-bottom: 20px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.reset.pressed {
  color: rgba(5, 5, 5, 1);
}

.icon-x {
  color: #9bb537;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.reset_filter {
  font-size: 12px;
  line-height: calc(16 / 12);
}

/*  */

.rec-search-item {
  position: relative;
  display: flex;
  color: #f8f8f8;
  font-size: 12px;
  border-radius: 14px;
}

#search-section .stars-list {
  margin-right: auto;
}

.heart-btn.on-active .icon-heart {
  fill: var(--text-white-color);
}

/*  */

@media screen and (max-width: 1279px) {
  .rec-search-item :nth-child(2n),
  .rec-search-item :last-child {
    margin-right: 0;
  }

  .rec-search-item :nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

#heart-btn-add-fav {
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 767px) {
  .search_recipes {
    width: 335px;
    margin: 0 auto;
  }

  .image-container {
    display: block;
    margin-bottom: 40px;
  }

  .rec-search-item {
    width: 335px;
    height: 335px;
  }

  .rec-search-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .rec-search-item {
    width: 240px;
    height: 264px;
    display: inline-flex;
  }

  .search_recipes {
    width: 496px;
    min-height: 985px;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    min-height: 844px;
    margin-bottom: 64px;
  }

  .recipes_box {
    align-items: center;
    gap: 16px;
    margin-bottom: 14px;
  }

  .label-text,
  .time,
  .area,
  .ingredients {
    font-size: 14px;
    line-height: calc(18 / 14);
  }

  .form-input,
  .selected-option,
  .dropdown-list {
    font-size: 16px;
    line-height: calc(20 / 16);
  }

  .form-input {
    width: 278px;
    height: 48px;
  }

  .form-input::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
  }

  .choice__time {
    width: 125px;
  }

  .choice__area {
    width: 141px;
  }

  .choice__ingredients {
    width: 188px;
  }
  .custom-dropdown .selected-option {
    height: 48px;
  }

  .choice__time .dropdown-list {
    max-height: 128px;
  }

  .choice__area .dropdown-list {
    max-height: 188px;
  }

  .choice__ingredients .dropdown-list {
    max-height: 188x;
  }

  .reset {
    padding-left: 391px;
    margin-bottom: 14px;
  }

  .reset_filter {
    font-size: 12px;
    line-height: calc(16 / 12);
  }

  .recipes {
    margin-bottom: 64px;
    min-height: 844px;
  }
}

@media screen and (min-width: 1280px) {
  #search-section .rec-search-item {
    width: 250px;
    height: 287px;
  }

  .rec-search-item:nth-child(3n),
  .rec-search-item:last-child {
    margin-right: 0;
  }

  .rec-search-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  .search_recipes {
    width: 782px;
    min-height: 728px;
  }

  .reset {
    padding-left: 677px;
  }

  .image-container {
    min-height: 908px;

    row-gap: 32px;
  }
}
