<section>
  <h2 class="visually-hidden">Favorites</h2>
  <div id="fav-container" class="container">
    <div class="fav-categories">
      <button class="fav-button common-btn is-active" name="main-cat-btn">
        All categories
      </button>
    </div>

    <div id="fav-rendered-card" class="fav-list"></div>
    <div id="pagination" class="tui-pagination"></div>

    <!--  -->
    <div class="fav-empty">
      <svg class="hat" width="68" height="58">
        <use href="./images/sprite.svg#cook-hat"></use>
      </svg>
      <p class="fav-empty-txt">
        It appears that you haven't added any recipes to your favorites yet. To
        get started, you can add recipes that you like to your favorites for
        easier access in the future.
      </p>
    </div>
  </div>
</section>
