/* Background */
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #05050548;
  overflow: auto;

  opacity: 1;
  visibility: visible;
  pointer-events: all;

  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  transition: opacity 250ms linear, visibility 250ms linear;
}
