.modal-order__close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.modal-order__close-button:hover,
.modal-order__close-button:focus {
  color: var(--accent-color);
}
.modal-order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  padding: 28px 20px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 15px;
  background-color: var(--primary-white-color);
  opacity: 1;
  width: 335px;
  height: 582px;
  max-height: 95vh;
  overflow-y: scroll;
}
.modal-order::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(26, 24, 47, 0.15);
  border-radius: 5px;
}
.modal-order::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}
.modal-order__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 28px;
}
.modal-order-form__field {
  margin-bottom: 16px;
  position: relative;
}
.modal-order-form__comment-field {
  margin-bottom: 40px;
  position: relative;
}
.modal-order-form__input {
  display: flex;
  width: 100%;
  height: 46px;
  padding: 14px 18px 14px 18px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  background-color: transparent;
  outline: none;
}
.modal-order-form__label {
  display: block;
  margin-bottom: 8px;
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.modal-order-form__text {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 14px 18px 14px 18px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  background-color: transparent;
  outline: none;
  resize: none;
}

.modal-order-form__input:hover,
.modal-order-form__input:focus,
.modal-order-form__input::placeholder,
.modal-order-form__text:hover,
.modal-order-form__text:focus {
  border-color: var(--accent-color);
}
.modal-order-form__comment-field:focus-within > .modal-order-form__label,
.modal-order-form__field:focus-within > .modal-order-form__label {
  color: var(--accent-color);
}
.modal-order-form__button {
  display: flex;
  width: 100%;
  height: 46px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 15px;
  background: var(--accent-color);
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.modal-order-form__button:hover,
.modal-order-form__button:focus {
  border: 1px solid #9bb537;
  background: none;
  color: var(--primaty-black-color);
}

@media screen and (min-width: 768px) {
  .modal-order {
    width: 440px;
    height: 632px;
    padding: 40px 40px;
  }

  .modal-order__title {
    margin-bottom: 40px;
  }
  .modal-order-form__field {
    margin-bottom: 18px;
  }
  .modal-order-form__input {
    height: 48px;
  }
  .modal-order-form__button {
    height: 48px;
  }
}
