.modal-recipes {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 2 * 20px);
  background-color: var(--primary-white-color);

  border-radius: 15px;
  transform: translate(-50%, -50%);
  padding: 40px 20px 40px 20px;
}

.modal-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  background-color: var(--primary-white-color);
  border: transparent;
  padding: 0;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  stroke: var(--accent-color);
}

.recipes-components-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
}

.recipes-components-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 6px;
}

.recipes-components-item_name {
  font-size: 14px;
}
.recipes-components-item_quantity {
  font-size: 14px;
  color: var(--primaty-black-color);
  opacity: 0.5;
}
.recipes-description {
  font-size: 14px;
  color: var(--primaty-black-color);
  opacity: 0.8;
  line-height: 18px;
  margin-bottom: 40px;
}
